//rgbaの警告がきになるならつける// sass-lint:disable no-color-literals

$desktop-width: 1024px

$top-height: 600px

//色宣言

$white: #fff
$color-text: #3f3f3f
$gray: rgb(200, 200, 200)
$yellow: #ffd54a
//トップのバックグラウンドよう
$color-top-start: #3f77ca 0%
$color-top-middle: #53a0fe 47%
$color-top-end: #7cfdf1 100%
//アンダーのバックグラウンドよう
$color-under-end: #77f2f2

//^^^色宣言^^^

=children-center
  text-align: center

=vertical-center
  position: absolute
  top: $top-height / 2
  transform: translate3d(0, -50%, 0)

// top  //
.top
  height: $top-height
  margin: 0 auto
  position: relative
  width: $desktop-width

.top-bg
  background-image: linear-gradient(to top, $color-top-start, $color-top-middle , $color-top-end)
  height: $top-height
  position: absolute
  width: $desktop-width

.theme-wrapper
  +children-center
  +vertical-center
  left: 100px

.theme-text
  color: $white
  font-size: 34.13px
  letter-spacing: .89px
  text-shadow: 0 2px 4px rgba(0, 0, 0, .9)

.theme-sub-text
  color: $white
  letter-spacing: .89px
  text-shadow: 0 2px 4px rgba(0, 0, 0, .9)

%theme-button
  background: $yellow
  border: 1px solid $white
  border-radius: 87px
  box-shadow: 4px 6px 4px 2px rgba(0, 0, 0, .5)
  color: $white
  display: inline-block
  font-size: 24px
  height: 60px
  letter-spacing: .63px
  padding: 10px
  width: 200px

.theme-button-top
  @extend %theme-button
  margin: 30px auto auto

%svg-wave
  bottom: 0
  left: 50%
  position: absolute
  transform: translate3d(-50%, 0, 0)

.svg-wave-front
  @extend %svg-wave

.svg-wave-back-small
  @extend %svg-wave

.svg-wave-back-big
  @extend %svg-wave

.svg-camome
  height: 537px
  left: 568px
  position: absolute
  top: 10px
  width: 449px

.svg-camome-main
  left: 568px
  position: absolute
  top: 10px

//^^^ top ^^^//

// middle //
.middle
  height: 512px
  margin: 0 auto
  width: $desktop-width

.title-middle
  display: table-cell
  height: 166px
  margin: 0 auto
  text-align: center
  vertical-align: middle
  width: $desktop-width

$img-margin-right: 5px
$middle-img-width: 324px

.middle-rapper
  +children-center
  display: flex
  height: 500px
  justify-content: center

  div
    border-right: 2px solid $gray
    height: 224px
    margin-right: $img-margin-right
    position: relative
    width: $middle-img-width

    &:last-child
      border-right: 0
      margin-right: 0
      width: $middle-img-width

  .svg-vec
    left: 0
    position: absolute
    top: 0

  .middle-text
    color: $color-text
    font-size: 15px
    left: 50%
    letter-spacing: .2em
    position: absolute
    top: 160px
    transform: translate3d(-50%, 0, 0)
    width: $middle-img-width * .8




//^^^ middle ^^^//

// under
.under
  +children-center
  background-image: linear-gradient(-180deg, $white 0%, $color-under-end 100%)
  height: 512px
  margin: 0 auto
  position: relative
  width: $desktop-width

  .under-wrapper
    +vertical-center
    width: $desktop-width

.under-text
  color: $white
  font-size: 35.56px
  letter-spacing: .93px
  text-shadow: 0 2px 6px #4F7A7A

.theme-button-under
  @extend %theme-button
  margin: 50px 0

//^^^under
