<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>タイトル</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/public/img/favicon.png" rel="shortcut icon">
    <link href="/public/css/bootstrap-3.3.6.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet">
    <link href="/public/css/landing.css" rel="stylesheet">
    <script src="/public/js/jquery-2.2.4.min.js"></script>
    <script src="/public/js/bootstrap-3.3.6.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/vivus/0.3.2/vivus.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg.js"></script>
  </head>
  <header class="top">
    <div class="top-bg">
      <div class="svg-camome" id="x-svg-camome"></div>
      <object class="svg-wave-front" id="x-wave-front" data="/public/img/wave-front.svg" type="image/svg+xml"></object>
      <object class="svg-wave-back-small" id="x-wave-back-small" data="/public/img/wave-back-small.svg" type="image/svg+xml"></object>
      <object class="svg-wave-back-big" id="x-wave-back-big" data="/public/img/wave-back-big.svg" type="image/svg+xml"></object>
      <!--object.svg-camome-main#x-svg-camome-main(data="/public/img/camome-main.svg" type="image/svg+xml")-->
      <div class="svg-camome-main">
        <svg width="449px" height="537px" viewBox="0 0 449 537" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
          <title>かもめたち2</title>
          <desc>Created with Sketch.</desc>
          <defs>
              <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
                  <feGaussianBlur stdDeviation="0" in="SourceGraphic"></feGaussianBlur>
              </filter>
              <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
                  <feGaussianBlur stdDeviation="0" in="SourceGraphic"></feGaussianBlur>
              </filter>
          </defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Desktop" transform="translate(-557.000000, -10.000000)">
                  <g id="Top" transform="translate(-44.800000, -38.644444)">
                      <g id="かもめたち2" transform="translate(827.336808, 316.228806) rotate(-6.000000) translate(-827.336808, -316.228806) translate(572.836808, 25.728806)">
                          <g id="かもめ-copy-6" fill="none" transform="translate(167.000000, 473.111111)" stroke-linecap="round" stroke-linejoin="round">
                              <path d="M-1.13686838e-13,51.5248739 C40.0747859,-18.1151626 64.2391516,-6.84010904 109.359245,57.5382358 C181.151902,-71.9227947 238.390148,57.5382358 238.390148,57.5382358" id="Path-2-Copy-10" stroke="#606060" stroke-width="38" filter="url(#filter-1)"></path>
                              <path d="M-1.13686838e-13,51.5248739 C40.0747859,-18.1151626 64.2391516,-6.84010904 109.359245,57.5382358 C181.151902,-71.9227947 238.390148,57.5382358 238.390148,57.5382358" id="Path-2" stroke="#FFCE00" stroke-width="24.1777778" filter="url(#filter-2)"></path>
                          </g>
                          <rect id="Rectangle-6" transform="translate(254.458592, 290.410821) rotate(6.000000) translate(-254.458592, -290.410821) " x="26.9585916" y="22.9108212" width="455" height="535"></rect>
                      </g>
                  </g>
              </g>
          </g>
        </svg>
      </div>
    </div>
    <div class="theme-wrapper" id="x-theme-wrapper">
      <div class="theme-text">MakeFollowerTool</div>
      <div class="theme-sub-text">MakeFollowerToolでフォロワーを増やしましょう！</div>
      <button class="theme-button-top" id="x-top-button" type="button" onclick="location.href='/App/Authenticate'">Try!!</button>
    </div>
  </header>
  <body>
    <div class="middle">
      <h2 class="title-middle">How it works?</h2>
      <div class="middle-rapper">
        <div>
          <object class="svg-follower" id="x-follower" data="/public/img/follower.svg" type="image/svg+xml"></object>
          <object class="svg-vec" id="x-follower-vec" data="/public/img/follower-vec.svg" type="image/svg+xml"></object>
          <p class="middle-text">自分に興味のありそうな人を<br>簡単にフォロー！</p>
        </div>
        <div>
          <object class="svg-return" id="x-return" data="/public/img/return.svg" type="image/svg+xml"></object>
          <object class="svg-vec" id="x-return-vec" data="/public/img/return-vec.svg" type="image/svg+xml"></object>
          <p class="middle-text">フォローしてくれている人を<br>簡単にフォロー！</p>
        </div>
        <div>
          <object class="svg-remove" id="x-remove" data="/public/img/remove.svg" type="image/svg+xml"></object>
          <object class="svg-vec" id="x-remove-vec" data="/public/img/remove-vec.svg" type="image/svg+xml"></object>
          <object class="svg-vec" id="x-peke" data="/public/img/peke.svg" type="image/svg+xml"></object>
          <p class="middle-text">片思いをなくす！</p>
        </div>
      </div>
    </div>
    <div class="under">
      <div class="under-wrapper">
        <p class="under-text">もちろん無料。</p>
        <button class="theme-button-under" type="button" onclick="location.href='/App/Authenticate'">Try!! </button>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span6">{{template "flash.html" .}}</div>
      </div>
    </div>
    <script src="/public/js/test.js"></script>
  </body>
</html>