<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>タイトル</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/public/img/favicon.png" rel="shortcut icon">
    <link href="/public/css/bootstrap-3.3.6.min.css" rel="stylesheet">
    <link href="/public/css/landing.css" rel="stylesheet">
    <script src="/public/js/jquery-2.2.4.min.js"></script>
    <script src="/public/js/bootstrap-3.3.6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.3.2/vivus.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
  </head>
  <header class="top">
    <div class="top-bg">
      <div class="svg-camome" id="x-svg-camome"></div>
      <object class="svg-wave-front" id="x-wave-front" data="/public/img/wave-front.svg" type="image/svg+xml"></object>
      <object class="svg-wave-back-small" id="x-wave-back-small" data="/public/img/wave-back-small.svg" type="image/svg+xml"></object>
      <object class="svg-wave-back-big" id="x-wave-back-big" data="/public/img/wave-back-big.svg" type="image/svg+xml"></object>
      <object class="svg-camome-main" id="x-svg-camome-main" data="/public/img/camome-main.svg" type="image/svg+xml"></object>
    </div>
    <div class="theme-wrapper" id="x-theme-wrapper">
      <div class="theme-text">MakeFollowerTool</div>
      <div class="theme-sub-text">MakeFollowerToolでフォロワーを増やしましょう！</div>
      <button class="theme-button-top" id="x-top-button" type="button" onclick="location.href='http://make-follower.3jigen.net'">CommingSoon</button>
    </div>
  </header>
  <body>
    <div class="middle">
      <h2 class="title-middle">How it works?</h2>
      <div class="middle-rapper">
        <div>
          <object class="svg-follower" id="x-follower" data="/public/img/follower.svg" type="image/svg+xml"></object>
          <object class="svg-vec" id="x-follower-vec" data="/public/img/follower-vec.svg" type="image/svg+xml"></object>
          <p class="middle-text">自分に興味のありそうな人を<br>簡単にフォロー！</p>
        </div>
        <div>
          <object class="svg-return" id="x-return" data="/public/img/return.svg" type="image/svg+xml"></object>
          <object class="svg-vec" id="x-return-vec" data="/public/img/return-vec.svg" type="image/svg+xml"></object>
          <p class="middle-text">フォローしてくれている人を<br>簡単にフォロー！</p>
        </div>
        <div>
          <object class="svg-remove" id="x-remove" data="/public/img/remove.svg" type="image/svg+xml"></object>
          <object class="svg-vec" id="x-remove-vec" data="/public/img/remove-vec.svg" type="image/svg+xml"></object>
          <object class="svg-vec" id="x-peke" data="/public/img/peke.svg" type="image/svg+xml"></object>
          <p class="middle-text">片思いをなくす！</p>
        </div>
      </div>
    </div>
    <div class="under">
      <div class="under-wrapper">
        <p class="under-text">もちろん無料。</p>
        <button class="theme-button-under" type="button" onclick="location.href='http://make-follower.3jigen.net'">CommingSoon</button>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span6">{{template "flash.html" .}}</div>
      </div>
    </div>
    <script src="/public/js/test.js"></script>
  </body>
</html>