div.svg-camome-main.
  <svg width="449px" height="537px" viewBox="0 0 449 537" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
    <title>かもめたち2</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            <feGaussianBlur stdDeviation="0" in="SourceGraphic"></feGaussianBlur>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
            <feGaussianBlur stdDeviation="0" in="SourceGraphic"></feGaussianBlur>
        </filter>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop" transform="translate(-557.000000, -10.000000)">
            <g id="Top" transform="translate(-44.800000, -38.644444)">
                <g id="かもめたち2" transform="translate(827.336808, 316.228806) rotate(-6.000000) translate(-827.336808, -316.228806) translate(572.836808, 25.728806)">
                    <g id="かもめ-copy-6" fill="none" transform="translate(167.000000, 473.111111)" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M-1.13686838e-13,51.5248739 C40.0747859,-18.1151626 64.2391516,-6.84010904 109.359245,57.5382358 C181.151902,-71.9227947 238.390148,57.5382358 238.390148,57.5382358" id="Path-2-Copy-10" stroke="#606060" stroke-width="38" filter="url(#filter-1)"></path>
                        <path d="M-1.13686838e-13,51.5248739 C40.0747859,-18.1151626 64.2391516,-6.84010904 109.359245,57.5382358 C181.151902,-71.9227947 238.390148,57.5382358 238.390148,57.5382358" id="Path-2" stroke="#FFCE00" stroke-width="24.1777778" filter="url(#filter-2)"></path>
                    </g>
                    <rect id="Rectangle-6" transform="translate(254.458592, 290.410821) rotate(6.000000) translate(-254.458592, -290.410821) " x="26.9585916" y="22.9108212" width="455" height="535"></rect>
                </g>
            </g>
        </g>
    </g>
  </svg>